<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">Solgorithm</h5>
      <p class="grey-text text-lighten-4">Solutions for popular coding problems and algorithms.</p>
    </div>
    <div class="col l4 offset-l2 s12">
      <h5 class="white-text">Created By</h5>
      <span>
          <a class="grey-text text-lighten-3" href="https://angular.io/" target="_blank"><img class="font-image" src="https://angular.io/assets/images/logos/angular/angular.svg" alt="Angular"></a>
          <a class="grey-text text-lighten-3" href="http://materializecss.com/" target="_blank"><img class="font-image" src="http://materializecss.com/res/materialize.svg" alt="Materialize"></a>
          <a class="grey-text text-lighten-3" href="http://fontawesome.io/" target="_blank"><i class="fa fa-fw fa-font-awesome"></i></a>
      </span>
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
    <i class="fa fa-fw fa-at"></i> ASA
  </div>
</div>