<div>
  <br>
  <div class="container">
    <div class="row">
      <div class="col m4 s12">
        <div class="card">
          <a [routerLink]="['/coding-tracks']">
            <div class="card-content  deep-purple-text darken-1">
              <div class="card-title  ">
                <i class="fa fa-fw fa-code-fork"></i> <strong>Coding Tracks</strong>
              </div>
              <p>Find solutions for the popular coding problems in your beloved programming languages.</p>
            </div>
            <div class="card-action blue-grey darken-3">
              <a><i class="fa fa-fw fa-chevron-circle-right"></i> Go To Coding tracks</a>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>