<div>
  <div class="container">
    <div class="card">
      <div class="card-content grey darken-3 white-text center">
        <h5> <code>&lt;Solgorithm&gt; .....Code..... &lt;/Solgorithm&gt;</code> </h5>
        <p></p>
      </div>
      <div class="card-content grey lighten-5">
        <div class="row">
          <div class="col m4 s12">
            <div class="card">
              <a [routerLink]="['/coding-tracks']">
                <div class="card-content blue-grey darken-1">
                  <div class="card-title  white-text">
                    <i class="fa fa-fw fa-code-fork"></i> Coding Tracks
                  </div>
                  <p></p>
                </div>
                <div class="card-content">
                  <p>Find solutions for the popular coding problems in your beloved programming languages.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>