<div class="container">
  <ol class="breadcrumb-b deep-purple lighten-5">
    <li class="breadcrumb-b-item"><a [routerLink]="['/coding-tracks']">Coding Tracks</a> </li>
    <li *ngIf="currentTrack?.$key" class="breadcrumb-b-item"><a [routerLink]="['/coding-tracks/challenges/', currentTrack?.$key]">{{currentTrack?.title}}</a> </li>
    <li class="breadcrumb-b-item active">{{currentChallenge?.title}}</li>
  </ol>
  <div class="row">
    <div class="col m4 s12" *ngIf="trackChallenges">
      <ul class="collection with-header">
        <li class="collection-header  deep-purple-text">
          <h5><i class="fa fa-fw fa-cubes" aria-hidden="true"></i> Challenges</h5>
        </li>
        <li *ngFor="let challenge of trackChallenges; let i = index">
          <a class="collection-item black-text" [ngClass]="{'active-pink': challenge?.title == currentChallenge?.title}"style="cursor:pointer" (click)="showChallengeProblems(i)"><i class="fa fa-fw fa-cube" aria-hidden="true"></i> {{challenge?.title}}</a>
        </li>
      </ul>
    </div>
    <div class="col m8 s12">
      <div *ngFor="let problem of currentProblems">
        <div class="card">
          <div class="card-content">
            <span class="card-title pink-text"><i class="fa fa-fw fa-bug"></i> <strong>{{problem.title}}</strong></span>
            <p class="tab-indent"> {{problem.question}}</p>
          </div>
          <div class="card-action blue-grey darken-3">
            <a class="collection-item " [routerLink]="['/coding-tracks/problems/', 
            problem.$key]"><i class="fa fa-fw fa-code" aria-hidden="true"></i>  VIEW SOLUTION</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>