<div class="container">
  <div class="card">
    <div class="card-content pink darken-1" *ngIf="(currentProblem)?.title">
      <div class="card-title white-text">
        <h5><i class="fa fa-fw fa-code yellow-text" aria-hidden="true"></i> {{ (currentProblem)?.title}}</h5>
      </div>
    </div>
    <div class="card-content">
      <div *ngIf="(currentProblem)?.question">
        <b><i class="fa fa-fw fa-question-circle red-text" aria-hidden="true"></i> Question</b>
        <p class="tab-indent" [innerHTML]="currentProblem.question"></p>
        <br />
      </div>
      <div *ngIf="(currentProblem)?.description">
        <b><i class="fa fa-fw fa-info-circle light-blue-text" aria-hidden="true"></i> Description</b>
        <p class="tab-indent" [innerHTML]="currentProblem.description"></p>
        <br />
      </div>
      <div *ngIf="(currentProblem)?.input">
        <b><i class="fa fa-fw fa-keyboard-o blue-text" aria-hidden="true"></i> Input</b>
        <p class="tab-indent" [innerHTML]="currentProblem.input"> </p>
        <br />
      </div>
      <div *ngIf="(currentProblem)?.output">
        <b><i class="fa fa-fw fa-terminal green-text" aria-hidden="true"></i> Output</b>
        <p class="tab-indent" [innerHTML]="currentProblem.output"></p>
        <br />
      </div>
    </div>
    <div class="card-tabs">
      <ul class="tabs">
        <li class="tab"><a data-toggle="tab" href="#c">C</a></li>
        <li class="tab"><a href="#cpp">C++</a></li>
        <li class="tab"><a href="#java">Java</a></li>
        <li class="tab"><a href="#csharp">C#</a></li>
        <li class="tab"><a href="#python">Python</a></li>
      </ul>
    </div>
    <div class="card-content grey lighten-4">
      <div *ngIf="codeC" id="c" >
        <pre class="prettyprint lang-c" [innerText]="codeC"></pre>
      </div>
      <div *ngIf="codeCPP" id="cpp">
        <pre class="prettyprint lang-cpp" [innerText]="codeCPP"></pre>
      </div>
      <div *ngIf="codeJava" id="java">
        <pre class="prettyprint lang-java" [innerText]="codeJava"></pre>
      </div>
      <div *ngIf="codeCSharp" id="csharp">
        <pre class="prettyprint lang-csh" [innerText]="codeCSharp"></pre>
      </div>
      <div *ngIf="codePython" id="python">
        <pre class="prettyprint lang-py" [innerText]="codePython"></pre>
      </div>
    </div>
  </div>

  <div class="card" *ngIf="currentCode">
    <pre class="prettyprint" [innerText]="currentCode"></pre>
  </div>
</div>