<nav class="nav-border-top">
  <div class="nav-wrapper deep-purple darken-4">
    <div class="container">
      <a [routerLink]="['/home']" class="brand-logo">Solgorithm</a>
      <a href="#" class="button-collapse app-side-nav" data-activates="mobile-side-nav"><i class="fa fa-bars"></i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a [routerLink]="['/coding-tracks']"><i class="fa fa-fw fa-code-fork"></i> Coding Tracks</a></li>
      </ul>
      <ul id="mobile-side-nav" class="side-nav pink lighten-3">
        <li><a [routerLink]="['/coding-tracks']"><i class="fa fa-fw fa-code-fork"></i> Coding Tracks</a></li>
      </ul>
    </div>
  </div>
</nav>